$white: #fff;

.ant-input-affix-wrapper.ant-input-password.default,
.ant-input.default {
  min-height: 40px;
  border-radius: 6px;
  border-color: rgba(48, 48, 48, 0.33);
}

.ant-btn.ant-btn-primary.suki-btn {
  border-color: transparent;
}
