.ant-layout-sider.main-sider {
  height: 100%;
  background: #fff;
  padding-top: 24px;
}

.menu-sider {
  height: 100%;
  border-right: 0px;
  padding: 20px;

  .ant-menu-item {
    font-size: 16px;
    font-weight: 500;
    color: #393939;
  }

  .ant-menu-item .ant-menu-item-icon,
  .ant-menu-submenu-title .ant-menu-item-icon,
  .ant-menu-item .anticon,
  .ant-menu-submenu-title .anticon {
    margin-right: 20px;
  }

  .ant-menu-item:active,
  .ant-menu-submenu-title:active {
    background: transparent;
  }

  .ant-menu-item:hover,
  .ant-menu-item-active,
  .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
  .ant-menu-submenu-active,
  .ant-menu-submenu-title:hover {
    color: #be1e2d;
  }
}

.ant-menu:not(.ant-menu-horizontal).menu-sider .ant-menu-item-selected {
  background-color: transparent;
  color: #b74141;
}

.main-sider {
  .ant-menu-inline,
  .ant-menu-vertical,
  .ant-menu-vertical-left {
    border-right: 0px;
  }

  .ant-menu-vertical .ant-menu-item::after,
  .ant-menu-vertical-left .ant-menu-item::after,
  .ant-menu-vertical-right .ant-menu-item::after,
  .ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid #b74141;
  }

  .ant-layout-sider-trigger {
    color: #002140;
    background: #f9f9f9;
    font-weight: 600;
  }

  .ant-layout-sider-zero-width-trigger {
    background: #b74141;
  }
}

.sider-drawer {
  .ant-menu-inline,
  .ant-menu-vertical,
  .ant-menu-vertical-left {
    border-right: 0px;
  }

  .ant-menu-vertical .ant-menu-item::after,
  .ant-menu-vertical-left .ant-menu-item::after,
  .ant-menu-vertical-right .ant-menu-item::after,
  .ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid #b74141;
  }

  .ant-layout-sider-trigger {
    color: #002140;
    background: #f9f9f9;
    font-weight: 600;
  }

  .ant-layout-sider-zero-width-trigger {
    background: #b74141;
  }

  .ant-drawer-header {
    height: 64px;
  }

  .ant-drawer-body {
    padding: 14px 0px 0px 0px;
  }
}
