.login-container {
  min-height: 90vh;

  .logo-container {
    margin-bottom: 40px;
  }

  .login-card {
    min-height: 390px;
    border-radius: 12px;

    h1.title {
      font-weight: 800;
      margin-bottom: 0px;
    }

    p.sub {
      font-size: 18px;
    }

    .login-form {
      padding: 5px;
    }

    .remember-me {
      margin-top: -10px;
      .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #be1e2d;
        border-color: #be1e2d;
      }
    }

    .forgot-pw {
      top: 5px;
      font-size: 13px;
      font-weight: 500;
      text-decoration: underline;
      cursor: pointer;
    }

    .suki-btn {
      height: 51px;
      width: 181px;
      border-radius: 8px;
      background: #be1e2d;
      font-size: 16px;
    }
  }
}
